body{
    margin:10px;
    padding:10px;
    
  }
  img{
    max-width: 75%;
    max-height: 50%;
    text-align:center;
  }
  a:visited{
    color: blue;
  }
  a:hover{
    color: orange;
    font-size: 20px;
  
  }
    .h1{
      padding:1px;
      margin:10px;
      border-style:solid;
      border-color:aqua;
      color: white;
      background-color: black;
    }
  span{
    background-color: grey;
    color: azure;
    padding-top:2px;
    
  }
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }